.header {
  background-color: #243f4d;
  width: 100%;
  border-radius: 4px;
  padding: 10px 0 10px 0;
}
.header-title {
  font-weight: 600;
  color: #eaebed;
  font-size: 40px;
  margin: 0;
}
@media (max-width: 768px) {
  .header-title {
    font-size: 30px;
  }
}
